<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

<!--        <property name="connection.url">jdbc:postgresql://localhost:5432/hibernate_demo</property>-->
        <property name="connection.username">root</property>
        <property name="connection.password">devs</property>
<!--        <property name="connection.driver_class">org.postgresql.Driver</property>-->
<!--        <property name="dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>-->

<!--                <property name="connection.url">jdbc:mysql://localhost:3306/hibernate_demo?serverTimezone=UTC&useSSL=false</property>-->
                <property name="connection.url">jdbc:mysql://localhost:3306/user_registration</property>
                <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
                <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <property name="show_sql">true</property>
        <property name="format_sql">false</property>
<!--        <property name="hbm2ddl.auto">create-drop</property>-->
        <property name="hbm2ddl.auto">update</property>
        <property name="hibernate.connection.autocommit">true</property>

        <property name="connection.pool_size">5</property>
        <property name="current_session_context_class">thread</property>

        <mapping class="com.doctor_patinet.doctor_patient_project.models.Doctor"/>
        <mapping class="com.doctor_patinet.doctor_patient_project.models.Interval"/>
        <mapping class="com.doctor_patinet.doctor_patient_project.models.Patient"/>
        <mapping class="com.doctor_patinet.doctor_patient_project.models.Request"/>
        <mapping class="com.doctor_patinet.doctor_patient_project.models.User"/>

    </session-factory>
</hibernate-configuration>